body{
    background-color: gray;
}
header {
    margin: 10px;
    text-align: center;
    background-color: white;
}
nav {
    margin: 10px;
    text-align: center;
    background-color: white;
}
section {
    color: red;
    background-color: white;
}
aside {
    background-color: white;
}  
footer {
    margin: 10px;
    text-align: center;
    background-color: white;
}
article {
    background-color: gray;
} 
div{
    background-color: white;

}